.flex{display:flex!important;flex-direction:row;}
.flex-row{ flex-direction:row!important; }
.flex-column{ flex-direction:column!important; }
.flex-row-reverse{ flex-direction:row-reverse!important; }
.flex-column-reverse{ flex-direction:column-reverse!important; }
.flex-wrap{ flex-wrap:wrap;}
.flex-nowrap{ flex-wrap:nowrap;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content:flex-end;}
.justify-between{justify-content:space-between;}
.justify-center{justify-content:center;}
.align-center{ align-items: center; }
.align-stretch{ align-items: stretch; }
.align-start{ align-items: flex-start; }
.align-end{ align-items: flex-end; }
.flex-1{ flex: 1; }
.flex-2{ flex: 2; }
.bg-white { background-color: #ffffff;}
.border-white{border: solid 1px #ffffff;}
.text-main{color: #5AD2F7;}
.text-white{color: #ffffff;}
.p10{padding: 1em;}
.pl1{padding-left: 1em;}
.p20{padding: 2em;}
.px1{padding: 0 1rem;}
.px2{padding: 0 2rem;;}
.px3{padding: 0 3rem;}
.pt1{padding-top: 1rem;}
.py05{padding: .5rem 0;}
.py08{padding: .8rem 0;}
.py1{padding: 1rem 0;}
.py2{padding: 2rem 0;}
.py3{padding: 3rem 0;}
/* .pt4{padding-top: 4rem;} */
.pb1{padding-bottom: 1rem;}
.pb2{padding-bottom: 2rem;}
.ma1{margin: 1rem;}
.mb1{margin-bottom: 1em;}
.ml1{margin-left: 1rem;}
.ml2{margin-left: 2rem;}
.mr1{margin-right: 1rem;}
.mt1{margin-top: 1rem;}
.mt2{margin-top: 2rem;}
.mt3{margin-top: 3rem;}
.mb3{margin-bottom: 3rem;}
.mb4{margin-bottom: 4em;}
.my1{margin: 1rem 0;}
.my3{margin: 3rem 0;}
.font-14 { font-size: .875rem;}
.font-16 { font-size: 1rem;}
.font-18{font-size: 1.125rem;}
.font-20{font-size: 1.25rem;}
.font-24 { font-size: 1.5rem;}
.font-28 { font-size: 1.75rem;}
.font-32 { font-size: 2rem;}
.font-35 { font-size: 2.1875rem;}
.font-50 {font-size: 3.125rem;}
.w-10{width: 10%;}
.w-15{width: 15%;}
.w-18{width: 18%;}
.w-20{width: 20%;}
.w-25{width: 25%;}
.w-100{width: 100%;}
.h-100{height: 100%;}
.text-right { text-align: right;}
.text-center{text-align: center;}
.font-weight{font-weight: 700;}
.text-warning{ color: #FFFF00;}
.border-right-main{border-right: dashed 1px #5AD2F7;}
.border-bottom-main{border-bottom: dashed 1px #5AD2F7;}
.bg-main{background:linear-gradient(180deg, rgba(48, 125, 244, 1) 0%, rgba(48, 125, 244, 1) 0%, rgba(38, 172, 252, 1) 100%, rgba(38, 172, 252, 1) 100%);}
.bg-black{background-color: #203A5A;}
.overflow-hidden{overflow: hidden;}
.red{color: #ff0000;}
.position-relative{position: relative;}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url('../img/bg.jpg') no-repeat top center;
    background-size:100% 100%;
    font-size: 1rem;
    overflow: hidden;
}
.content{
    height: 100vh;
}
.title{
    font-weight: 700;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
}
.title > img{
    width: 0.9em;
    vertical-align: top;
}

.u22{
    height: 3.5rem;
    line-height: 3.5rem;
}
.u22 > li{
    width: 2.2rem;
    height: 3.5rem;
    background: url('../img/u22.svg') no-repeat;
    background-size: 100% 100%;
    font-size: 3.125rem;
    text-align: center;
}
.u355{
    width: 2.875rem;
    height: 2.315rem;
    line-height: 2.6rem;
    background-size: 100% 100%;
    text-align: center;
}
.echart{
    width: 100%;
    height: 80%;
}
.select{
    width: 30%;
}
.select .layui-input{
    background: transparent !important;
    border-color: #5AD2F7 !important;
    color: #5AD2F7 !important;
    height: 2.5rem;
    max-height: 34px;
}
.select .layui-form-select .layui-edge{
    border-top-color:#5AD2F7 !important;
} 
.u329{
    background: url('../img/u329.png');
    background-size: 100% 100%;
    padding: .2rem 0;
    margin-right: .5rem;
}
.u372{
    background:url('../img/u372.png') center center no-repeat;
    background-size: 80% 80%;
}
.icon{
    width: 5rem;
    height: 5rem;
}
.layui-carousel{
    background: transparent;
}
.layui-carousel>[carousel-item]>*{
    background: transparent;
}
.layui-carousel>[carousel-item]:before {
    display: none;
}
.u897_div{
    border-bottom: solid 1px #165085;
}
.layui-progress{
    border-radius: 5px;
    background-color: rgba(36, 59, 101, 1);
}
.layui-progress-big, .layui-progress-big .layui-progress-bar{
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
}
